<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmz.protolio.commons.domain.Bonds">
    <sql id="bondsColumns">
        a.id,
        a.name,
        b.id AS "teacher.id",
        b.name AS "teacher.name"
    </sql>

    <sql id="bondsJoins">
        LEFT JOIN teacher AS b ON a.teacher_id = b.id
    </sql>

    <select id="selectAll" resultType="com.xmz.protolio.commons.domain.Bonds">
        SELECT
        <include refid="gradeColumns" />
        FROM
        grade as a
        <include refid="gradeJoins" />
    </select>

    <select id="getByName" resultType="com.caijianan.student.commons.doamin.Grade">
        SELECT
        <include refid="gradeColumns" />
        FROM
        grade as a
        <include refid="gradeJoins" />
        where a.name = #{name}
    </select>
</mapper>