<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html('注册界面')" ></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script>
   $(function () {
      //ViewModel
      var vue = new Vue({
         el: '#registerDiv',
         data: {
            uri: 'admin_register',
            bean: {name: '', password: '', grade:{id: 0, name: ''}},
            grade: '',
            grades: '',
            stata: ''
         },
         mounted: function () {
            this.init();
         },
         methods: {
            register: function () {
               var url = this.uri;
               if (0 == this.bean.password.length) {
                  $("span.errorMessage").html("请输入密码");
                  $("div.registerErrorMessageDiv").css("visibility", "visible");
                  return;
               }
               if (0 == this.bean.repeatpassword.length) {
                  $("span.errorMessage").html("请输入重复密码");
                  $("div.registerErrorMessageDiv").css("visibility", "visible");
                  return;
               }
               if (this.bean.password != this.bean.repeatpassword) {
                  $("span.errorMessage").html("重复密码不一致");
                  $("div.registerErrorMessageDiv").css("visibility", "visible");
                  return;
               }

               if (this.stata != 200) {
                  $("span.errorMessage").html("用户名已存在，请重新输入");
                  $("div.registerErrorMessageDiv").css("visibility", "visible");
                  return;
               }


               axios.post(url, this.bean).then(function (response) {
                  var result = response.data;
                  if (result.stata == 200) {
                     location.href = "login";
                  } else {
                     $("span.errorMessage").html(result.message);
                     $("div.registerErrorMessageDiv").css("visibility", "visible");
                  }
               });
            },  //register

            isName: function () {
               var url = "admin_getByUser";

               axios.post(url, this.bean).then(function (response) {
                  var result = response.data;
                  vue.stata = result.stata;
                  if (result.length != 0) {
                     $("span.errorMessage").html(result.message);
                     $("div.registerErrorMessageDiv").css("visibility", "visible");
                  }
               });
            }, // isName

            init: function () {
               var url = "admin_selectGrade";
               axios.get(url).then(function (response) {
                  vue.grades = response.data;
               });
            }
         }
      });
   })
</script>
<div id="registerDiv" class="registerDiv">
   <div class="registerErrorMessageDiv">
      <div class="alert alert-danger" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
         <span class="errorMessage"></span>
      </div>
   </div>


   <table class="registerTable" align="center">
      <tr>
         <td class="registerTip registerTableLeftTD">设置学生名</td>
         <td></td>
      </tr>
      <tr>
         <td class="registerTableLeftTD">姓名</td>
         <td class="registerTableRightTD"><input v-on:blur="isName();" v-model="bean.name" placeholder="姓名一旦设置成功，无法修改"></td>
      </tr>
      <tr>
         <td class="registerTip registerTableLeftTD">设置密码</td>
         <td class="registerTableRightTD">登陆时验证，保护账号信息</td>
      </tr>
      <tr>
         <td class="registerTableLeftTD">密码</td>
         <td class="registerTableRightTD"><input v-model="bean.password" type="password" placeholder="设置你的登陆密码">
         </td>
      </tr>
      <tr>
         <td class="registerTableLeftTD">密码确认</td>
         <td class="registerTableRightTD"><input v-model="bean.repeatpassword" type="password"
                                                 placeholder="请再次输入你的密码"></td>
      </tr>
      <tr>
      <td class="registerTableLeftTD">班级</td>
      <td class="registerTableRightTD">
         <select v-model="bean.grade.name">
            <option disabled value="">请选择</option>
            <option  v-for="gra in grades">
               {{gra.name}}
            </option>
         </select>
   </tr>

      <tr>
         <td colspan="2" class="registerButtonTD">
            <a @click="register">
               <button>提 交</button>
            </a>
         </td>
      </tr>
   </table>
</div>
</div>
</div>
</html>